.searchPage {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
}

.searchPage__filter {
  display: flex;
  color: #606060;
  font-size: xx-small !important;
}

.searchPage__filter > h2 {
  margin-left: 10px;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: 1px solid #d87878;
}
